body img.cover_photo {
  width: 100%;
}

body div.container p i.contact_icon {
  width: 10px;
  margin-right: 5px;
}

img.book_post {
  width: 120px;
  height: 180px;
}

/* More specific selector for rule override */
div.container table > thead > tr > th,
div.container table > tbody > tr > td {
  font-size: 17px;
}

ul.embedded_list {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
